<body>
<div class="wrapper">
    <div class="title">
      Confirmar compra
    </div>
    <div class="form">
       <div class="inputfield">
          <label>Nombre</label>
          <input type="text" class="input">
       </div>  
        <div class="inputfield">
          <label>Apellido</label>
          <input type="text" class="input">
       </div>  
       <div class="inputfield">
          <label>Rut</label>
          <input type="password" class="input">
       </div>  
      <div class="inputfield">
          <label>Ciudad</label>
          <input type="password" class="input">
       </div> 
        <div class="inputfield">
          <label>Direccion</label>
          <input type="text" class="input">
       </div> 
      <div class="inputfield">
          <label>Celular</label>
          <input type="text" class="input">
       </div> 
       <div>
        <h4>Total: $19.980</h4>
       </div>
      <div class="inputfield">
        <input type="submit" value="Comprar" class="btn">
      </div>
    </div>
    
</div>	
</body>