

<app-stepper></app-stepper>
<br>

<!-- <div class="row m-4" *ngIf="actualStep==1">
   <div class="col-12"> 
       <div class= "box-container">
           <app-step-one (sendNextStep)="actualStep=$event"> </app-step-one>
   
       </div>
   </div>
</div>

<div class="row m-4" *ngIf="actualStep==2">
   <div class="col-12">
       <div class="box-container">
           <app-step-two (sendNextStep)="actualStep=$event"></app-step-two>
       </div>
   </div>
</div>  -->

<router-outlet></router-outlet>