<app-menu-admin></app-menu-admin>
<div class="card">
    <app-menu-nav></app-menu-nav>
    <div class="card-body">
        <br>
        <div class="card border-primarey mb-3 text-center">
            <div class="card header">Lista de Productos
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Imagen</th>
                                <th>Tipo</th>
                                <th>Precio</th>
                                <th>Stock</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let polos of polo">
                                <td><img [src]="polos.imagen" alt="Imagen de la polera" width="50" height="50"></td>
                                <td>{{ polos.tipo}}  </td>
                                <td>{{ polos.precio}}  </td>
                                <td>{{ polos.stock}} </td>
                                <td><button class="btn btn-success" >Añadir</button></td>
                                <td><button class="btn btn-danger" >Eliminar</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

