<app-menu-admin></app-menu-admin>
<div class="card">
    <!-- <app-menu-nav></app-menu-nav> -->
    <div class="card-body">
        <div class="row">
            <!-- <div class="col-md-2">Filtrar por:</div>
            <div class="col-md-4">
                <input type="text">
            </div> -->
            <button class="btn btn-primary" (click)="abrirModalAdd()">
                Añadir diseño
            </button>
        </div> 
        <br>
        <div class="card border-primarey mb-3 text-center">
            <div class="card header">Lista de diseños
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Imagen</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let diseno of disenos">
                              <td> {{ diseno.nombre }} </td>
                              <td><img [src]="diseno.imagen" height="100"></td>
                              <td><button class="btn btn-danger" (click)="borrarDiseno(diseno.iddiseno)">Eliminar</button></td>
                            </tr>
                          </tbody>                          
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<app-modal-add></app-modal-add>
<app-modal-add-stock></app-modal-add-stock>