<!-- THE MODAL ADD -->
<div class="modal" [ngStyle]="{'display': modalstock.ocultoaddStock}" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form [formGroup]="formProduct" (ngSubmit)="saveData()" novalidate>
                <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-tittle" >Añadir Stock</h4>
                <button (click)="ocultarModalAddStock()" type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Mdoal Body -->
            <div class="modal-body">
                <!-- Stock -->
                <div class="form-group row">
                    <label class="col-2 col-form-label">Stock</label>
                    <div class="col-8">
                        <input formControlName="stock"  class="form-control" type="number" placeholder="Stock">
                        <div *ngIf="formProduct.get('stock')?.errors && (formProduct.get('stock')?.touched || formProduct.get('stock')?.dirty)"
                            class="alert alert-danger">
                            El stock debe ser un numero mayor a cero
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div>
                <button type="button" class="btn btn-primary" >Guardar</button>
                <button (click)="ocultarModalAddStock()"  type="button" class="btn btn-danger" >Cerrar</button>
            </div>
            </form>
            
        </div>
    </div>
</div>