.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    max-width: 400px;
    width: 100%;
}

.container .steps{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-mdc-form-field {
    margin-top: 16px;
  }

  .mat-form-field { width: 100%; }

  button{
    color: black;
    background-color: #007bff;
    border: 1px solid black;
  }
  .hola button{
    margin-left: 20rem;
  }

   .mat-stepper-horizontal .mat-horizontal-stepper-header-container {
    background-color: #f8f9fa; /* Color de fondo del header del stepper */
    padding: 10px;
  }

  .mat-step-header {
    padding: 10px;
  }

  .mat-step-header .mat-step-icon-selected {
    background-color: #007bff; /* Color de fondo del ícono del paso seleccionado */
    color: #fff; /* Color del ícono del paso seleccionado */
    border: 2px solid #007bff; /* Borde del ícono del paso seleccionado */
  }

  .mat-step-header .mat-step-icon {
    background-color: #e9ecef; /* Color de fondo del ícono del paso */
    color: #007bff; /* Color del ícono del paso */
    border: 2px solid #007bff; /* Borde del ícono del paso */
  }

  .mat-step-header .mat-step-label {
    font-size: 16px; /* Tamaño de fuente del texto del paso */
  }

  /* Estilo para el botón "Editar/No Editar" */
  .edit-btn {
    margin-right: 10px;
  }

  /* Estilo para el botón "Siguiente" */


  .next-btn:hover {
    background-color: #0056b3;
  }

  /* Ajustar el ancho de los inputs */
  mat-form-field {
    width: 100%;
  }

  /* Centrar los inputs horizontalmente */
  .input-container {
    display: flex;
    justify-content: center;
  }