<div class="container"> 
    <mat-stepper linear #stepper>
        <mat-step [stepControl] = "firstFormGroup" [editable]="isEditable">
            <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel> Datos Personales </ng-template>
                <mat-form-field>
                    <mat-label>Nombre</mat-label>
                    <input matInput formControlName="firstCtrl" placeholder="Nombre" required>
                </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-label>Apellido</mat-label>
                    <input matInput formControlName="firstCtrl2" placeholder="Apellido" required>
                </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-label>Rut</mat-label>
                    <input matInput formControlName="firstCtrl4" placeholder="Rut" required>
                </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-label>Correo</mat-label>
                    <input matInput formControlName="firstCtrl3" placeholder="Correo" required>
                </mat-form-field>
                <div>
                    <button id="hola" mat-button matStepperNext>Siguiente</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup" [editable]="isEditable" >
            <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel> Datos de Envio</ng-template>
                <mat-form-field>
                    <mat-label>Ciudad</mat-label>
                    <input matInput formControlName="secondCtrl" placeholder="Chillan" required>
                </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-label>Direccion</mat-label>
                    <input matInput formControlName="secondCtrl2" placeholder="Av. Andres bello" required>
                </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-label>Telefono</mat-label>
                    <input matInput formControlName="secondCtrl3" placeholder="912345678" required>
                </mat-form-field>
                <div>
                    <button mat-raised-button (click)="isEditable = !isEditable">
                        {{ !isEditable ? 'Editar' : 'No Editar'}}
                    </button>
                    <button id="hola" mat-button matStepperNext>Siguiente</button>
                    </div>
            </form>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Pagar</ng-template>
            <div #paypal></div>
            <button>pagar</button>
            <button mat-raised-button (click)="isEditable = !isEditable">
                {{ !isEditable ? 'Editar' : 'No Editar'}}
            </button>
        </mat-step>
    </mat-stepper>
</div>
