<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-2">Filtrar por:</div>
            <div class="col-md-4">
                <input type="text">
            </div>
        </div>
        <br>
        <div class="card border-primarey mb-3 text-center">
            <div class="card header">Lista de Productos
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    <button class="btn btn-primary">
                                        <i class="fa fa-eye"></i>
                                    </button>
                                </th>
                                <th>Producto</th>
                                <th>Disponible</th>
                                <th>Precio</th>
                                <th>Tipo</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>