<div class="componente">
  
    <div class="card">
      <h1 class="letra">Polera</h1>
      <div class="imagen">
        <img src="https://www.gustore.cl/temp/img/poleras/poleraBlanca_800x859.png?v=new7">
      </div>

        <div class="info">
          <button routerLink="/producto" class="boton">Seleccionar</button>
        </div>
    </div>
        
    <div class="card">
      <h1 class="letra">Polera Manga Larga</h1>
      <div class="imagen">
        <img src="https://www.gustore.cl/temp/img/poleras/blancoMangaLarga_800x945.png?v=7">
      </div>

      <div class="info">
        <button routerLink="/producto" class="boton">Seleccionar</button>
      </div>
    </div>

    <div class="card">
      <h1 class="letra">Poleron Canguro</h1>
      <div class="imagen">
        <img src="https://www.gustore.cl/temp/img/poleras/poleronBlanco_800x800.png?v=7">
      </div>
      <div class="info">
        <button routerLink="/producto" class="boton">Seleccionar</button>
      </div>
    </div>

    <div class="card">
      <h1 class="letra">Poleron polo</h1>
      <div class="imagen">
        <img src="https://www.gustore.cl/temp/img/poleras/poleronPoloBlanco_800x800.png?v=7">
      </div>
      <div class="info">
        <button routerLink="/producto" class="boton">Seleccionar</button>
      </div>
    </div>
</div>
