<div class="componente">
  
    <div class="card">
      <h1>Polera</h1>
      <div class="imagen">
        <img src="https://www.gustore.cl/temp/img/poleras/poleraNegra_800x859.png?v=new7">
      </div>

        <div class="info">
          <button routerLink="/producto">Comprar</button>
        </div>
    </div>
        
    <div class="card">
      <h1>Polera Manga Larga</h1>
      <div class="imagen">
        <img src="https://www.gustore.cl/temp/img/poleras/negraMangaLarga_800x945.png?v=7">
      </div>

      <div class="info">
        <button routerLink="/producto">Comprar</button>
      </div>
    </div>

    <div class="card">
      <h1>Poleron Canguro</h1>
      <div class="imagen">
        <img src="https://www.gustore.cl/temp/img/poleras/poleronNegro_800x800.png?v=7">
      </div>
      <div class="info">
        <button routerLink="/producto">Comprar</button>
      </div>
    </div>

    <div class="card">
      <h1>Poleron polo</h1>
      <div class="imagen">
        <img src="https://www.gustore.cl/temp/img/poleras/poleronPoloNegro_800x800.png?v=7">
      </div>
      <div class="info">
        <button routerLink="/producto">Comprar</button>
      </div>
    </div>
</div>
