<br>
<main>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
            <div class="card-header py-3 text-bg-primary border-primary">
            <h4 class="my-0 fw-normal">Polera</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$9.990<small class="text-body-secondary fw-light"></small></h1>
            <img src="https://cdn.pixabay.com/photo/2017/09/03/14/41/mock-up-2710535_1280.jpg" width="300">
            <button type="button" class="w-100 btn btn-lg btn-primary" routerLink="/producto">Comprar</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
            <div class="card-header py-3 text-bg-primary border-primary">
            <h4 class="my-0 fw-normal">Poleron</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$9.990<small class="text-body-secondary fw-light"></small></h1>
            <img src="https://pangaia.com/cdn/shop/products/Heavyweight-Recycled-Cotton-Hoodie-Cobalt-Blue-1.png?v=1663231767" width="300">
            <button type="button" class="w-100 btn btn-lg btn-primary" routerLink="/producto" >Comprar</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 text-bg-primary border-primary">
            <h4 class="my-0 fw-normal">Jockey</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$9.990<small class="text-body-secondary fw-light"></small></h1>
            <img src="https://cdn.pixabay.com/photo/2016/10/03/02/15/graff-1710838_1280.jpg" width="300">
            <button type="button" class="w-100 btn btn-lg btn-primary" routerLink="/producto" >Comprar</button>
          </div>
        </div>
      </div>
    </div>
  </main>