  <body> 
    <div class="container-title"><h6>.</h6> <h2>Polera</h2></div>
    
    <main>
      <div class="container-img">
        <img src="https://www.gustore.cl/temp/img/poleras/poleraBlanca_800x859.png?v=new7">
      </div>

      <div class="container-info-product">
        <div class="container-price">
          <span>$3.000</span>
          <i class="fas fa-angle-right"></i>
        </div>
    
        <div class="container-details-product">
          <div class="form-group">
            <label for="colour">Color</label>
            <select name="colour" id="colour">
              <option disabled selected value="">Escoge un color</option>
              <option value="rojo">Rojo</option>
              <option value="blanco">Blanco</option>
              <option value="negro">Negro</option>
              <option value="azul">Azul</option>
              <option value="verde">Verde</option>
              <option value="verde">Celeste</option>
            </select>
          </div>
          <div class="form-group">
            <label for="size">Talla</label>
            <select name="size" id="size">
              <option disabled selected value="">Elige una talla</option>
              <option value="S">S</option>
              <option value="M">M</option>
              <option value="L">L</option>
              <option value="XL">XL</option>
            </select>
          </div>
          <div class="form-group">
            <label for="design">Diseño</label>
            <select name="design" id="design">
              <option disabled selected value="">Escoge un diseño</option>
              <option value="option0">Ninguno</option>
              <option value="option1">Opción 1</option>
              <option value="option2">Opción 2</option>
              <option value="option3">Opción 3</option>
            </select>
          </div>
          <div class="form-group">
            <label for="image">Agregar diseño</label>
            <input type="file" id="image" name="image">
          </div>
        </div>
        
    
        <div class="container-add-cart">
          <div class="container-quantity">
            <input type="number" placeholder="1" value="1" min="1" class="input-quantity">
            <div class="btn-increment-decrement">
              <i class="fas fa-chevron-up" id="increment"></i>
              <i class="fas fa-chevron-down" id="decrement"></i>
            </div>
          </div>
          <button class="btn-add-to-cart" routerLink="/carrito">
            <i class="fas fa-plus"></i>
            Añadir al carrito
          </button>
        </div>
      </div>
    </main>
  </body>