  <body> 
    <div class="container-title"><h6>.</h6> <h2>{{nombreTipo}}</h2></div>
    
    <main>
      <div class="container-img">
        <img [src]="imagenPredeterminada" alt="Imagen predeterminada">
        <div class="imagen-seleccionada-container" *ngIf="imagenSeleccionada">
          <img [src]="imagenSeleccionada" alt="Imagen del producto">
        </div>
      </div>
      
      

      <div class="container-info-product">
        <div class="container-price">
          <span>{{ precioSegunTipo | currency:'CLP ':'symbol':'1.0-0' }}</span>
          <i class="fas fa-angle-right"></i>
        </div>
        
    
        <div class="container-details-product">
          <div class="form-group">
            <label for="colour">Color</label>
            <select name="colour" id="colour" [(ngModel)]="colorSeleccionado" (ngModelChange)="onColorSelected()">
              <option disabled [ngValue]="null">Elige un color</option>
              <option *ngFor="let color of colores" [value]="color">{{ color }}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="size">Talla</label>
            <select name="size" id="size" [(ngModel)]="tallaSeleccionada" [disabled]="!colorSeleccionado" (ngModelChange)="onTallaSelected()">
              <option disabled [ngValue]="null">Elige una talla</option>
              <option *ngFor="let talla of getTallasForColor(colorSeleccionado)" [value]="talla">{{ talla }}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="design">Diseño</label>
            <select (change)="onDesignSelected()" [(ngModel)]="imagenSeleccionada">
              <option disabled selected value="null">Escoge un diseño</option>
              <option *ngFor="let diseno of disenos" [value]="diseno.imagen">{{ diseno.nombre }}</option>
            </select>
          </div>
          
          <div class="form-group">
            <label for="image">Agregar diseño</label>
            <input type="file" id="image" name="image">
          </div>
        </div>
        
        <div class="container-add-cart">
          <div class="container-quantity">
            <input type="number" placeholder="1" [value]="cantidadProductos" min="1" class="input-quantity">
            <div class="btn-increment-decrement">
              <i class="fas fa-chevron-up" id="increment"></i>
              <i class="fas fa-chevron-down" id="decrement"></i>
            </div>
          </div>
          <button class="btn-add-to-cart" routerLink="/carrito">
            <i class="fas fa-plus"></i>
            Añadir al carrito
          </button>
        </div>
        <div class="container-stock">
          <span>Disponibles: {{ stockTotalPorColorYTalla }}</span>
        </div>        
      </div>
    </main>
  </body>