<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling" routerLinkActive="active">Menu</button>
<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Menú</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <a routerLink="/admin">Menú</a>
    <br>
    <a routerLink="/mant-productos">Productos</a>
    <br>
    <a routerLink="/mant-envio">Envios</a>
    <br>
    <a routerLink="/mant-diseno">Diseños</a>
  </div>
</div>