<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<div class="container">

	<h1>Carrito</h1>

	<div class="cart">

		<div class="products">

			<div class="product">

				<img src="https://www.gustore.cl/temp/img/poleras/poleraBlanca_800x859.png?v=new7">

				<div class="product-info">

					<h3 class="product-name">Polera</h3>

					<h4 class="product-price">$9.990</h4>

					<h4 class="product-offer">Talla: L</h4>
                    <h4 class="product-offer">Color: Celeste</h4>


					<p class="product-remove">

						<i class="fa-solid fa-trash"></i>

						<span class="remove"> Eliminar</span>

					</p>

				</div>

			</div>

		</div>

		<div class="cart-total">

			<p>

				<span>Precio Total</span>

				<span>$19.980</span>

			</p>

			<p>

				<span>Número de intems</span>

				<span>2</span>

			</p>
			<a href="#" routerLink="/comprar">Confirmar Productos</a>

		</div>

	</div>

</div>

