@font-face{
    font-family: 'HeyBunnys';
    src: url("../../../assets/fonts/HeyBunnys.ttf") format("truetype");
}
.contenedor{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("https://www.gustore.cl/img/fondoBusquedaNuevo.png?v2");
	display: flex;
	flex-direction: column;
}
h1, p{
	font-family: HeyBunnys;
}
h1{
	color: #fffd47;
	font-size: 6rem;
}
p{
	color: white;
	font-size: 2rem;
	text-align: justify;
}
.arriba{
	margin-top: 5rem;
}
.abajo, .arriba{
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 3rem;
}
.masabajo{
	display: flex;
	justify-content: space-around;
	margin-bottom: 5rem;
}
.texto{
	width: 50rem;
}
img{
	width: 20rem;
	margin-left: 8rem;
}
button{
	width: 40rem;
	height: 15rem;
	color: #fffd47;
	font-family: HeyBunnys;
	font-size: 5rem;
	border-radius: 10px;
	border: 2px solid;
	border-color: #fffd47;
	background-color: rgb(5, 18, 162);
}

