<div class="contenedor">
    <img src="https://www.gustore.cl/img/fondoBusquedaNuevo.png?v2" alt="">
    <div class="arriba">
        <h1>¿Quiénes Somos?</h1>
        <h1>¿Cómo Comprar?</h1>
    </div>
        <div class="abajo">   
        <p class="texto">Somos una tienda virtual ubicada en Chillán que realiza envíos de productos a todo Chile, nuestra área se dedica a las prendas textiles con diseños 100% personalizados en donde ustedes, nuestros cliente, podran diseñar sus prendas a su manera.</p>
        <p class="texto">Selecciona una de nuestros productos disponibles para su personalización, una vez seleccionado, ingresa tu talla y comienza a personalizarlo, selecciona color de la prenda e ingresa la imagen que desees estampar, una vez listo selecciona comprar e ingresa tus datos para realizar él envió. </p>
    </div>

    <div class="masabajo">
        <img class="imagenn" src="../../../assets/logo.png" alt="">
        <button routerLink="/productos" routerLinkActive="active">¡Comprar Ahora!</button>
    </div>
</div>