<div class="container-form">
    <div class="info-form">
        <h2>Contáctanos</h2>
        <p>Si tienes alguna duda o reclamo puedes contactarte con nosotros</p>
        <a href="#"><i class="fa fa-phone"></i> +56912345678</a>
        <a href="#"><i class="fa fa-envelope"></i> estampatiburones@isotopos.cl</a>
        <a href="#"><i class="fa fa-map-marked"></i> Chillán, Chile</a>
        <img src="../../../assets/logo.png" alt="logo" width="100">
    </div>
    <form>
        <input type="text" name="nombre" placeholder="Nombre" class="campo">
        <input type="email" name="email" placeholder="Email" class="campo">
        <textarea name="mensaje" placeholder="Mensaje..."></textarea>
        <input type="submit" name="enviar" value="Enviar Mensaje" class="btn-enviar">
    </form>
</div>
