@font-face{
    font-family: 'HeyBunnys';
    src: url("../../../assets/fonts/HeyBunnys.ttf") format("truetype");
}


nav{
    height: 6em;
    background-color: rgba(5,18,162, 1);
}
img{
    width: 18rem;
    cursor: pointer;
}
a{
    font-family: HeyBunnys;
    font-size: 2rem;
    color: white;
    margin-right: 3rem;
}
a:hover, a.active{ 
    color: #fffd47;
}
.contenedoritems{
    width: 38rem;
    display: inline-flex;
}

.carrito{
    width: 4rem;
    height: 4rem;
}