<nav class="navbar navbar-expand" style="background-color: #064dda;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Estampa Tiburones</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto me-3">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">Inicio</a>
        <a class="nav-link" routerLink="/productos" routerLinkActive="active">Productos</a>
        <a class="nav-link cart-link" routerLink="/carrito" routerLinkActive="active">Carro de Compras</a>
      </div>
    </div>
  </div>
</nav>
